$c__purple: #9494ff;
$c__purple-light: #B3B3FF;
$c__success: #9CFF94;
$c__success-light: #b9ffb3;
$c__info: #94C0FF;
$c__info-light: #B3D2FF;
$c__warning: #FFDB94;
$c__warning-light: #FFE5B3;
$c__danger: #FF9C94;
$c__danger-light: #FFB9B3;
$c__black-almost: #0F0F0F;
$c__white-almost: #F0F0F0;
$c__gray-dark: #2B2B2B;
$c__gray-darker: #313131;
$c__gray: #363636;
$c__gray-lighter: #434343;
$c__gray-light: #505050;
