@import "colors";

@mixin variables() {
  --text__font: 'Baloo 2';
  --primary__color: #{$c__purple};
  --primary--light__color: #{$c__purple-light};

  --text__color: #{$c__white-almost};
  --text__on-primary__color: #{$c__black-almost};
  --text__on-success__color: #{$c__black-almost};
  --text__on-info__color: #{$c__black-almost};
  --text__on-warning__color: #{$c__black-almost};
  --text__on-danger__color: #{$c__black-almost};
  --text--primary__on-background__color: #{$c__purple-light};

  --background__color: #{$c__gray};
  --background-success__color: #{$c__success};
  --background-info__color: #{$c__info};
  --background-warning__color: #{$c__warning};
  --background-danger__color: #{$c__danger};

  --card__color: #{$c__gray-dark};
  --card__border: 1px solid #{$c__gray-light};
  --card--primary__color: var(--primary__color);
  --card--primary__text: var(--text__on-primary__color);
  --card--success__color: var(--background-success__color);
  --card--success__text: var(--text__on-success__color);
  --card--info__color: var(--background-info__color);
  --card--info__text: var(--text__on-info__color);
  --card--warning__color: var(--background-warning__color);
  --card--warning__text: var(--text__on-warning__color);
  --card--danger__color: var(--background-danger__color);
  --card--danger__text: var(--text__on-danger__color);

  --button__color: #{$c__gray-dark};
  --button__ripple__color: rgba(236, 240, 241, .03);
  --button__text__color: var(--text--primary__on-background__color);
  --button--hover__color: #{$c__gray-darker};
  --button--hover__text__color: #{$c__white-almost};
  --button__border: 1px solid #{$c__gray-light};
  --button--colored__ripple__color: rgba(19, 15, 14, .07);
  --button--primary__color: var(--primary__color);
  --button--primary__text: var(--text__on-primary__color);
  --button--primary--hover__color: var(--primary--light__color);
  --button--primary--hover__text__color: #{$c__black-almost};
  --button--success__color: var(--background-success__color);
  --button--success__text: var(--text__on-success__color);
  --button--success--hover__color: #{$c__success-light};
  --button--success--hover__text__color: #{$c__black-almost};
  --button--info__color: var(--background-info__color);
  --button--info__text: var(--text__on-info__color);
  --button--info--hover__color: #{$c__info-light};
  --button--info--hover__text__color: #{$c__black-almost};
  --button--warning__color: var(--background-warning__color);
  --button--warning__text: var(--text__on-warning__color);
  --button--warning--hover__color: #{$c__warning-light};
  --button--warning--hover__text__color: #{$c__black-almost};
  --button--danger__color: var(--background-danger__color);
  --button--danger__text: var(--text__on-danger__color);
  --button--danger--hover__color: #{$c__danger-light};
  --button--danger--hover__text__color: #{$c__black-almost};
}
