<app-toolbar></app-toolbar>

<div class="content" role="main">

  <app-card class="card--primary card--small">
    Primary
  </app-card>
  <app-card class="card--success card--small">
    Success
  </app-card>
  <app-card class="card--info card--small">
    Info
  </app-card>
  <app-card class="card--warning card--small">
    Warning
  </app-card>
  <app-card class="card--danger card--small">
    Danger
  </app-card>

  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>

  <app-card-container>

    <app-card>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>

      <span>Learn Angular</span>

      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </app-card>

  </app-card-container>

  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <app-card-container>
    <app-card class="card--small">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>New Component</span>
    </app-card>
  </app-card-container>

  <app-card-container>
    <app-circle-link title="Animations" href="https://angular.io/guide/animations" target="_blank" rel="noopener">
    </app-circle-link>
  </app-card-container>

  <footer></footer>

</div>

<router-outlet></router-outlet>
