@import "styles/fonts";
@import "styles/variables";

:root {
  @include variables;

  body {
    font-family: var(--text__font);
    color: var(--text__color);
    background-color: var(--background__color);
  }
}

a,
a:visited,
a:hover {
  color: var(--primary__color);
  text-decoration: none;

  &:hover {
    color: var(--text--primary__color--dark);
  }
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}
